/* ==========================================================================
 reg header
 ========================================================================== */

.reg-header {
    width: 100%;
    position: fixed;
    top: 0;
    color: @dark_field;
    .avenir-next;
    z-index: 1000;

    ul {
        .reset;
    }

    li {
        margin-top: 0;
    }
}

.main-head {
    .border-bottom-dark(@width: 3px);
    padding: 0 15px;
    background: #fff;
    z-index: 1000;
    height: 3.75em;

    .logo {
        margin-top: 12.5px; /* this manually centers the image based on its height and the height of the container */
        margin-right: 15px;
    }


    .title {
        display: block;
        float: left;

        .reg-title,
        .site-title {
            .reset;
            display: inline;
            vertical-align: middle;
            line-height: 57px;
        }

        .reg-title {
            .avenir-next;
            font-size: 1.125em;
        }

        .reg-title:before {
            content: '|';
            margin-right: 15px;
            font-size: 15px;
            color: @medium_gray;
        }


        .site-title {
            .avenir-next-demi;
            font-size: 1.375em;
            margin-right: 15px;
        }

        .e {
            .avenir-next;
        }
    }
}

.title a:link,
.title a:visited {
    border-bottom: none;
    color: @dark_field;
    text-decoration: none;
}

.title a:hover,
.title a:active {
    color: @pacific;
}

#content-header {
    li {
        height: 2.125em;
        line-height: 2.125em;
    }
}

.sub-head {
    background: @grey;
    color: @black;
    line-height: 33px;
    height: 2.125em;
    .border-bottom-medium(@width: 1px);
    z-index: 1000;
    .main {
        border-right: 1px solid @medium_gray;
    }
}

.effective-date {
    float: right;
    font-size: .75em;
    padding-right: 15px;
    text-transform: uppercase;
}

.header-label {
    display: inline-block;
    margin-left: 45px;
    .avenir-next-demi;
    font-size: 1em;
    letter-spacing: 1px;
    display: inline-block;
}

.header-nav-list {
    .reset;
    float: left;
    display: block;

    li {
        .reset;
        display: inline-block;
        padding-right: 30px;
        height: 57px;
        line-height: 57px;
        font-size: 0.75em;
    }

    a {
        text-transform: uppercase;
        .avenir-next-demi;
    }

    a:link,
    a:visited {
        color: @dark_gray;
    }

    a:hover,
    a:active,
    a:focus {
        color: @pacific;
    }
}

