{% extends "regulations/base.html" %}

{% block body %}

{% comment %}
    Page-level template for breakaway views with chrome. Right now, this only includes section-by-section analysis.
{% endcomment %}
<section class="full-breakaway" data-base-version="{{version}}">
    <header id="site-header" class="reg-header">
        <div class="main-head">
            <div class="title">
                <h1 class="site-title"><a href="{% url 'universal_landing' %}"><span class="e">e</span>Regulations</a></h1>
                <h2 class="reg-title"><a href="{% url 'regulation_landing_view' reg_part %}">{{ meta.cfr_title_number }} CFR Part {{ reg_part }} 
                {{ meta.statutory_name|title }} {% if meta.reg_letter %}(Regulation {{ meta.reg_letter }}){% endif %}</a></h2>
            </div> <!-- /reg-title -->
            <div class="site-nav header-secondary">
                <nav class="header-nav">
                <ul class="header-nav-list">
                    <li><a href="{% url 'universal_landing' %}">Regulations</a></li>
                </ul>
            {% include "regulations/logo.html" %}
            </div> <!-- /.site-nav -->
        </div>
    </header>

    <div id="breakaway-view">{{ partial_content|safe }}</div>
</section>

{% endblock %}
