{% extends "regulations/base.html" %}

{% comment %}
    Universal application landing page
{% endcomment %}

{% block title %}eRegulations{% endblock %}

{% block body %}
<header id="site-header" class="reg-header">
    <div class="main-head">
    <div class="title">
        <h1 class="site-title"><span class="e">e</span>Regulations</h1>
    </div> <!-- /reg-title -->
    <div class="site-nav header-secondary">
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li><a href="{% url 'universal_landing' %}">Regulations</a></li>
        </ul>
    {% include "regulations/logo.html" %}
    </div> <!-- /.site-nav -->
    </div>
</header>


  <div class="wrap group">
    <div id="content-body" class="main-content">
      {% comment %}
        Content for the universal landing page goes here.
      {% endcomment %}
    </div> <!--/content-body-->
  </div>

{% endblock %}